.catalog-sort__order-mybutton {
  position: relative;

  width: 0;
  height: 0;
  padding: 0;

  border-width: 12px 7px 0;
  border-color: transparent;
  border-top-color: #585757;
  background-color: transparent;

  cursor: pointer;
  -webkit-transition: border-top-color 0.3s ease, outline-color 0.3s ease;
  transition: border-top-color 0.3s ease, outline-color 0.3s ease;

  &::before {
    top: 50%;
    left: 50%;
    position: absolute;

    width: 30px;
    height: 30px;

    content: '';
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  &:hover {
    border-bottom-color: #c90606;
    border-top-color: #c90606;
  }

  &:disabled {
    display: none;
  }
}

.catalog-sort__order-mybutton--up {
  transform: rotate(180deg);
  &::before {
    -webkit-transform: translate(-50%, -25%);
    transform: translate(-50%, -25%);
  }
}

.catalog-sort__order-mybutton--down {
  margin-left: 23px;
  &::before {
    -webkit-transform: translate(-50%, -75%);
    transform: translate(-50%, -75%);
  }
}

.catalog-sort__order-mybutton--active {
  border-top-color: #131212;

  pointer-events: none;
}

.catalog-sort__order-mybutton:focus {
  outline: 1px solid #c90606;
  outline-offset: 1px;
}
